In [2]:
# Import CANVAS_API_KEY from the .env file
from dotenv import load_dotenv
load_dotenv(verbose=True)

import os
API_KEY = os.getenv("CANVAS_API_KEY")
BASE_URL = os.getenv("CANVAS_BASE_URL")

In [7]:
import pandas as pd
import requests
import json
import numpy as np

In [39]:
API_URL = '/api/v1/courses?enrollment_type=teacher'
headers = {'Authorization': 'Bearer '+ API_KEY}
r = requests.get(BASE_URL+API_URL, headers=headers)
response= pd.DataFrame.from_dict(r.json())
course_ids = response[response['name'].str.contains('AI')]['id']

```
id	name
1116	AI-1
1202	AI-2
1394	AI-3
1574	AI-4
1682	AI-5
```

In [46]:
#let's start by using AI-4 id:1574
course_id =course_ids[3]

1574

In [72]:
#Get student_summaries
API_URL = '/api/v1/courses/{}/analytics/student_summaries?per_page=200'.format(course_id)
headers = {'Authorization': 'Bearer '+ API_KEY}
r = requests.get(BASE_URL+API_URL, headers=headers)
response= pd.DataFrame.from_dict(r.json())

In [86]:
tardiness_summary = pd.DataFrame(list(response.tardiness_breakdown))
student_summaries = response.merge(tardiness_summary, left_index=True, right_index=True).drop(['tardiness_breakdown'], axis='columns')
student_summaries

,id,page_views,max_page_views,page_views_level,participations,max_participations,participations_level,missing,late,on_time,floating,total
0,75494,1606,7132,2,51,51,3,30,5,26,32,93
1,74581,1810,7132,2,40,51,3,47,0,30,16,93
2,56876,555,7132,1,42,51,3,32,5,26,30,93
3,74755,1738,7132,2,14,51,1,66,0,11,16,93
4,74578,4609,7132,3,34,51,2,55,1,21,16,93
...,...,...,...,...,...,...,...,...,...,...,...,...
60,75072,908,7132,2,16,51,2,51,7,5,30,93
61,62658,2424,7132,3,39,51,3,50,8,21,14,93
62,71180,642,7132,1,10,51,1,70,8,0,15,93
63,73272,2381,7132,3,26,51,2,59,1,17,16,93
64,69590,164,7132,1,2,51,1,79,0,0,14,93

In [98]:
# Get student history
# let's look at id: 75494
student_id ='75494'
API_URL = '/api/v1/courses/1574/analytics/users/75494/activity'
headers = {'Authorization': 'Bearer '+ API_KEY}
r = requests.get(BASE_URL+API_URL, headers=headers)
print(r)
#response= pd.DataFrame.from_dict(r.json())

<class 'requests.models.Response'>

In [101]:
pd.DataFrame.from_dict(r.json())

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [ ]:
response.merge(pd.DataFrame(list(response.submission)), left_index=True, right_index=True).drop(['submission'], axis='columns')